@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 21 47% 98%;
      --foreground: 21 53% 0%;
      --muted: 21 10% 80%;
      --muted-foreground: 21 6% 33%;
      --popover: 21 47% 97%;
      --popover-foreground: 0 0% 0%;
      --card: 21 47% 97%;
      --card-foreground: 0 0% 0%;
      --border: 21 10% 91%;
      --input: 21 10% 91%;
      --primary: 21 90% 48%;
      --primary-foreground: 0 0% 100%;
      --secondary: 21 8% 81%;
      --secondary-foreground: 21 8% 21%;
      --accent: 21 17% 73%;
      --accent-foreground: 21 17% 13%;
      --destructive: 2 97% 27%;
      --destructive-foreground: 2 97% 87%;
      --ring: 21 90% 48%;
      --chart-1: 21 90% 48%;
      --chart-2: 21 8% 81%;
      --chart-3: 21 17% 73%;
      --chart-4: 21 8% 84%;
      --chart-5: 21 93% 48%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 21 45% 3%;
      --foreground: 21 12% 100%;
      --muted: 21 9% 7%;
      --muted-foreground: 21 6% 67%;
      --popover: 21 45% 4%;
      --popover-foreground: 0 0% 100%;
      --card: 21 45% 4%;
      --card-foreground: 0 0% 100%;
      --border: 21 10% 12%;
      --input: 21 10% 12%;
      --primary: 21 90% 48%;
      --primary-foreground: 0 0% 100%;
      --secondary: 21 18% 17%;
      --secondary-foreground: 21 18% 77%;
      --accent: 21 25% 25%;
      --accent-foreground: 21 25% 85%;
      --destructive: 2 97% 46%;
      --destructive-foreground: 0 0% 100%;
      --ring: 21 90% 48%;
      --chart-1: 21 90% 48%;
      --chart-2: 21 18% 17%;
      --chart-3: 21 25% 25%;
      --chart-4: 21 18% 20%;
      --chart-5: 21 93% 48%;
    }
  }
  